.navbar {
  height: 100px;
  .offcanvas {
    .offcanvas-body {
      .nav-link {
        color: white;
        text-transform: capitalize;
        font-weight: 500;
        &:hover {
          text-decoration: underline;
        }
      }
      .btn-nav {
        padding: 10px 40px;
      }
    }
  }
}

.main {
  margin-top: 90px;
  height: 4900px;
  @media (max-width: 576px) {
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 992px) {
  }
  .d-flex {
    max-width: 420px;
    width: 100%;
    @media (max-width: 992px) {
      width: 100%;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
    @media (max-width: 568px) {
      width: 465px;
    }
    border-radius: 15px;
    padding: 22px 10px;
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
    gap: 20px;

    picture {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rgba(36, 36, 36, 0.05);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .right-menu {
      h4 {
        margin: 0px !important;
      }
    }
  }
}
