.menu-header {
  height: 100px;
}
.menu-header .bread {
  margin-top: 350px;
}
.menu-header .navbar {
  height: 100px;
}
.menu-header .navbar .offcanvas .nav-link {
  text-transform: capitalize;
  color: white;
}
.menu-header .navbar .offcanvas .btn-nav {
  padding: 10px 40px;
}

.menu-main {
  height: 2500px;
}