@import url("https://fonts.cdnfonts.com/css/cera-round-pro-demo");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cera Round Pro DEMO", sans-serif;
}

nav {
  padding: 20px 0 !important;
}

.navbar-shrink {
  padding: 20px 0 !important;
}

.navbar {
  color: #ffffff;
  height: 100px;
  margin-bottom: 100px;
}

.navbar-nav .nav-link,
.nav-link.show {
  color: #ffffff !important;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.64px;
  text-transform: capitalize;
}

.navbar-nav .nav-link:hover {
  background-color: #ffffff;
  color: #bb2339 !important;
}

.btn-nav-ls {
  padding: 10px 40px;
  border-radius: 100px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 175%; /* 28px */
  letter-spacing: 0.8px;
  text-transform: capitalize;
}

.btn-nav-ls:hover {
  color: #bb2339;
}

.hero-content {
  padding: 228px 0px;
}
@media (max-width: 992px) {
  .hero-content {
    padding: 228px 0px;
  }
}

.main .site-main-slide-card .container .h2 {
  color: #bb2339 !important;
  font-family: "Cera Round Pro DEMO", sans-serif !important;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.44px;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.main .site-main-slide-card .container .card {
  border-radius: 14px;
  background: #fff;
}

.news-menu {
  width: 100%;
  height: 737px;
  padding: 120px 0px;
  margin-bottom: 500px;
}
@media (max-width: 992px) {
  .news-menu {
    height: 1941px;
    margin-bottom: 400px;
  }
}

.site__owlcorusel {
  height: 1600px;
}
@media (max-width: 992px) {
  .site__owlcorusel {
    height: 1000px;
  }
}

.vedio {
  width: 100%;
  height: 657px !important;
}

.photo-gallery {
  width: 100%;
  padding: 150px 0px;
  height: 900px;
}
@media (max-width: 992px) {
  .photo-gallery {
    height: 1300px;
    text-align: center;
  }
}

.site__modals {
  height: 1000px;
  padding: 200px 0px;
}

.footer {
  height: 710px;
  background: #bb2339;
  padding: 317px 0px 40px 0px;
}

#backtop img {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background-color: #000000;
  padding: 20px 20px;
}

#backtop {
  position: fixed;
  z-index: 99;
  right: 50px;
  bottom: -100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#backtop.backtop-show {
  bottom: 100px;
}

#loading.loading-none {
  z-index: -1;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  display: none;
}

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.89);
  opacity: 1;
  -webkit-transition: 4s;
  transition: 4s;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}